---
import "../../styles/main.css";
import { getCollection, render } from "astro:content";
import ContentSection from "../../components/ContentSection.astro";
import Footer from "../../components/Footer.astro";
import MobileNav from "../../components/MobileNav.astro";
import PageHead from "../../components/PageHead.astro";
import PageHero from "../../components/PageHero.astro";
import { formatDate } from "../../components/formatDate";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({ params: { id: post.id } }));
}

const { id } = Astro.params;
const posts = await getCollection("blog");
const post = posts.find((p) => p.id === id)!;
const { Content } = await render(post);
---

<!doctype html>
<html lang="en">
  <head>
    <PageHead title={`${post.data.title} — eLife Pathways`} />
  </head>
  <body>
    <main>
      <PageHero
        backNavTarget="/blog"
        pageTitle="Blog"
        pageHeading={post.data.title}
      >
        {post.data.summary && <p class="summary">{post.data.summary}</p>}
        {post.data.image && <img src={post.data.image} />}
      </PageHero>
      <ContentSection>
        <div class="markdown-content">
          <time
            class="blog-card__date"
            datetime={post.data.date.toISOString().slice(0, 10)}
          >
            {formatDate(post.data.date)}
          </time>
          <Content />
        </div>
      </ContentSection>
    </main>
    <Footer />
    <MobileNav />
  </body>
</html>

<style>
  .markdown-content {
    blockquote {
      border-inline-start: 6px solid var(--color-brand-elife-pink);
      padding-inline-start: var(--space-md);
      margin-block: var(--space-lg);
    }
    blockquote :last-child {
      font-weight: var(--font-weight-semibold);
    }
    time {
      font-size: var(--font-size-sm);
    }
  }

  .summary {
    font-weight: var(--font-weight-semibold);
    color: var(--color-dark-purple);
    margin-block-end: var(--space-xl);
  }
</style>
