---
interface Props {
  name: string;
  jobTitle: string;
  socialLink: string;
  about: string;
  image: string;
}

const { name, jobTitle, about, image, socialLink } = Astro.props;
---

<article class="flow">
  <div class="header cluster">
    <img src={image} alt={name} class="headshot" />
    <div>
      <h3>{name}</h3>
      <p>{jobTitle}</p>
    </div>
  </div>
  <p>{about}</p>
  <a href={socialLink} class="social-link-button">LinkedIn</a>
</article>

<style>
  .header {
    --cluster-gap: var(--space-md);
    align-items: center;
  }

  h3 {
    font-size: var(--font-size-lg);
    margin-block-start: 0;
  }

  .header p {
    line-height: var(--line-height-snug);
    margin-top: var(--space-xs);
  }

  .headshot {
    width: 130px;
    height: 130px;
    border-radius: 400px;
    object-fit: cover;
    flex-shrink: 0;
  }

  .social-link-button {
    display: inline-block;
    background-color: #ffeacb;
    color: var(--color-pink);
    font-weight: var(--font-weight-semibold);
    padding: var(--space-xs) var(--space-md);
    border-radius: var(--card-border-radius);
    text-decoration: none;
  }

  .social-link-button:hover {
    background-color: #fed3b1;
  }
</style>
