---
interface Props {
  name: string;
  jobTitle: string;
  socialLink: string;
  about: string;
  image: string;
}

const { name, jobTitle, about, image, socialLink } = Astro.props;
---

<article class="flow">
  <div class="header cluster">
    <img src={image} alt={name} class="headshot" />
    <div>
      <h3>{name}</h3>
      <p>{jobTitle}</p>
    </div>
  </div>
  <p>{about}</p>
  <a href={socialLink} class="button" aria-label={`${name} LinkedIn profile`}>
    <img src="/images/linkedin.svg" alt="" class="contact-icon" />
    LinkedIn
  </a>
</article>

<style>
  .header {
    --cluster-gap: var(--space-md);
    align-items: center;
    justify-content: center;
  }

  h3 {
    font-size: clamp(1.125rem, calc(0.989rem + 0.682vw), 1.5rem);
    margin-block-start: 0;
    text-align: center;
  }

  .header p {
    line-height: var(--line-height-snug);
    margin-top: var(--space-xs);
    text-align: center;
  }

  @media (min-width: 30rem) {
    .header {
      justify-content: flex-start;
      flex-wrap: nowrap;
    }

    h3,
    .header p {
      text-align: revert;
    }
  }

  .headshot {
    width: 130px;
    height: 130px;
    border-radius: 400px;
    object-fit: cover;
    flex-shrink: 0;
  }

  .button {
    display: inline-flex;
    align-items: center;
    gap: 0.375em;
    padding-inline: 0.8rem;
    border-radius: var(--card-border-radius);
  }

  .contact-icon {
    width: 1em;
    height: 1em;
    flex-shrink: 0;
  }
</style>
