---
interface Props {
  quote: string;
  headshotSrc: string;
  headshotAlt: string;
  name: string;
  jobTitle: string;
  isPartnershipsPage?: boolean;
  logoSrc?: string;
  logoAlt?: string;
}

const {
  quote,
  headshotSrc,
  headshotAlt,
  name,
  jobTitle,
  isPartnershipsPage,
  logoSrc,
  logoAlt,
} = Astro.props;
---

<figure class={isPartnershipsPage ? "figure partner-quote" : "figure"}>
  <blockquote><p>{quote}</p></blockquote>
  <figcaption class="attribution">
    <div class="biography">
      <img class="quote-headshot" src={headshotSrc} alt={headshotAlt} />
      <div>
        <p><b>{name}</b></p>
        <p>{jobTitle}</p>
      </div>
    </div>
    {
      logoSrc ? (
        <div class="logo">
          <img src={logoSrc} alt={logoAlt} />
        </div>
      ) : null
    }
  </figcaption>
</figure>

<style>
  .figure {
    background-color: var(--color-cream-quote);
    flex: 1 1 30.3125rem;
    padding: clamp(1rem, calc(-0.176rem + 5.882vw), 2.25rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2.25rem;
    border-radius: 10px;
  }

  .figure.partner-quote blockquote p {
    font-weight: var(--font-weight-semibold);
  }

  .attribution {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .biography {
    display: flex;
    align-items: center;
    gap: 1.25rem;
  }

  .biography p {
    margin-block-start: 0;
  }

  .quote-headshot {
    width: 80px;
    height: 80px;
    border-radius: 400px;
  }

  .logo {
    width: 104px;
    margin-left: auto;
  }
</style>
